## Problem 3 - Data analysis (*4 points*)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic Pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Helsinki Kumpula and Rovaniemi for the summer of 2017
- Selecting temperatures for May and June 2017 in separate dataframes for each location
- Printing out some summary values for each month (May, June) and location (Kumpula, Rovaniemi)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (*0 points*)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `kumpula` and `rovaniemi`

In [4]:
import pandas as pd

In [1]:
pwd

'C:\\Users\\BGP001\\Peter\\Lesson_5\\exercise-5-okonwuchekwa9'

In [2]:
cd data

C:\Users\BGP001\Peter\Lesson_5\exercise-5-okonwuchekwa9\data

In [5]:
kumpula = pd.read_csv('Kumpula_temps_May_Aug_2017.csv')
rovaniemi = pd.read_csv('Rovaniemi_temps_May_Aug_2017.csv')

# YOUR CODE HERE
# Define file path
#fp = '6153237444115dat.csv'
#Read in data from the file
#data = pd.read_csv(fp, na_values=['*', '**', '***', '****', '*****', '******'])
#temp_data = pd.read_csv('kumpula-june-2016-w-metadata.txt', skiprows=8, usecols=['YEARMODA', 'TEMP'])

In [6]:
print(kumpula.head())
print('')
print(rovaniemi.head())

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  29980  201705010000  31.0  NaN  NaN    -0.56
1           1  29980  201705010020  30.0  NaN  NaN    -1.11
2           2  29980  201705010050  30.0  NaN  NaN    -1.11
3           3  29980  201705010100  31.0  NaN  NaN    -0.56
4           4  29980  201705010120  30.0  NaN  NaN    -1.11

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN     2.78
1        8771  29980  201705010100  37.0  NaN  NaN     2.78
2        8772  29980  201705010200  37.0  NaN  NaN     2.78
3        8773  29980  201705010300  37.0  NaN  NaN     2.78
4        8774  29980  201705010400  39.0  NaN  NaN     3.89

### Part 2 (*1 points*)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Helsinki Kumpula? (store the answer in a variable `kumpula_median`)
    - Rovaniemi? (store the answer in a variable `rovaniemi_median`)

In [8]:
kumpula_median = kumpula['Celsius'].median()
rovaniemi_median = rovaniemi['Celsius'].median()
# YOUR CODE HERE

In [9]:
# Prints the median temperatures
print("Kumpula median: ", kumpula_median)
print("Rovaniemi median: ", rovaniemi_median)

Kumpula median:  11.11
Rovaniemi median:  14.44

### Part 3 (*2 points*)

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find out the mean temperatures from May and June 2017 in Kumpula and Rovaniemi.

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017
    - Assign these selected rows into the variables `kumpula_may` and `rovaniemi_may` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of June and assign those values into variables to `kumpula_june` and `rovaniemi_june`

In [12]:
# Select the subset of the Kumpula and Rovaniemi data for the 5th and 6th month
kumpula_may = kumpula.loc[0:2219]
rovaniemi_may = rovaniemi.loc[0:740]
#kumpula = selected.loc[0:8769]
kumpula_june = kumpula.loc[2220:4346]
rovaniemi_june = rovaniemi.loc[741:1454]

# YOUR CODE HERE

In [13]:
kumpula_may

      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0              0  29980  201705010000  31.0  NaN  NaN    -0.56
1              1  29980  201705010020  30.0  NaN  NaN    -1.11
2              2  29980  201705010050  30.0  NaN  NaN    -1.11
3              3  29980  201705010100  31.0  NaN  NaN    -0.56
4              4  29980  201705010120  30.0  NaN  NaN    -1.11
...          ...    ...           ...   ...  ...  ...      ...
2215        2217  29980  201705312220  32.0  NaN  NaN     0.00
2216        2218  29980  201705312250  32.0  NaN  NaN     0.00
2217        2219  29980  201705312300  33.0  NaN  NaN     0.56
2218        2220  29980  201705312320  32.0  NaN  NaN     0.00
2219        2221  29980  201705312350  30.0  NaN  NaN    -1.11

[2220 rows x 7 columns]

In [14]:
rovaniemi_may

     Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0          8770  29980  201705010000  37.0  NaN  NaN     2.78
1          8771  29980  201705010100  37.0  NaN  NaN     2.78
2          8772  29980  201705010200  37.0  NaN  NaN     2.78
3          8773  29980  201705010300  37.0  NaN  NaN     2.78
4          8774  29980  201705010400  39.0  NaN  NaN     3.89
..          ...    ...           ...   ...  ...  ...      ...
736        9506  29980  201705311900  51.0  NaN  NaN    10.56
737        9507  29980  201705312000  50.0  NaN  NaN    10.00
738        9508  29980  201705312100  47.0  NaN  NaN     8.33
739        9509  29980  201705312200  44.0  NaN  NaN     6.67
740        9510  29980  201705312300  43.0  NaN  NaN     6.11

[741 rows x 7 columns]

In [15]:
kumpula_june

      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2220        2222  29980  201706010000  32.0  NaN  NaN     0.00
2221        2223  29980  201706010020  30.0  NaN  NaN    -1.11
2222        2224  29980  201706010050  30.0  NaN  NaN    -1.11
2223        2225  29980  201706010100  31.0  NaN  NaN    -0.56
2224        2226  29980  201706010120  30.0  NaN  NaN    -1.11
...          ...    ...           ...   ...  ...  ...      ...
4342        4344  29980  201706302220  57.0  NaN  NaN    13.89
4343        4345  29980  201706302250  57.0  NaN  NaN    13.89
4344        4346  29980  201706302300  56.0  NaN  NaN    13.33
4345        4347  29980  201706302320  57.0  NaN  NaN    13.89
4346        4348  29980  201706302350  57.0  NaN  NaN    13.89

[2127 rows x 7 columns]

In [16]:
rovaniemi_june

      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
741         9511  29980  201706010000  42.0  NaN  NaN     5.56
742         9512  29980  201706010100  40.0  NaN  NaN     4.44
743         9513  29980  201706010200  40.0  NaN  NaN     4.44
744         9514  29980  201706010300  41.0  NaN  NaN     5.00
745         9515  29980  201706010400  44.0  NaN  NaN     6.67
...          ...    ...           ...   ...  ...  ...      ...
1450       10220  29980  201706301900  65.0  NaN  NaN    18.33
1451       10221  29980  201706302000  61.0  NaN  NaN    16.11
1452       10222  29980  201706302100  63.0  NaN  NaN    17.22
1453       10223  29980  201706302200  62.0  NaN  NaN    16.67
1454       10224  29980  201706302300  61.0  NaN  NaN    16.11

[714 rows x 7 columns]

Check that the subsets look ok:

In [17]:
print("First values in May, Kumpula:\n", kumpula_may.head())
print("\nLast values in May, Kumpula:\n", kumpula_may.tail())

First values in May, Kumpula:
    Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  29980  201705010000  31.0  NaN  NaN    -0.56
1           1  29980  201705010020  30.0  NaN  NaN    -1.11
2           2  29980  201705010050  30.0  NaN  NaN    -1.11
3           3  29980  201705010100  31.0  NaN  NaN    -0.56
4           4  29980  201705010120  30.0  NaN  NaN    -1.11

Last values in May, Kumpula:
       Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2215        2217  29980  201705312220  32.0  NaN  NaN     0.00
2216        2218  29980  201705312250  32.0  NaN  NaN     0.00
2217        2219  29980  201705312300  33.0  NaN  NaN     0.56
2218        2220  29980  201705312320  32.0  NaN  NaN     0.00
2219        2221  29980  201705312350  30.0  NaN  NaN    -1.11

In [18]:
print("First values in June, Kumpula:\n", kumpula_june.head())
print("\nLast values in June, Kumpula:\n", kumpula_june.tail())

First values in June, Kumpula:
       Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2220        2222  29980  201706010000  32.0  NaN  NaN     0.00
2221        2223  29980  201706010020  30.0  NaN  NaN    -1.11
2222        2224  29980  201706010050  30.0  NaN  NaN    -1.11
2223        2225  29980  201706010100  31.0  NaN  NaN    -0.56
2224        2226  29980  201706010120  30.0  NaN  NaN    -1.11

Last values in June, Kumpula:
       Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
4342        4344  29980  201706302220  57.0  NaN  NaN    13.89
4343        4345  29980  201706302250  57.0  NaN  NaN    13.89
4344        4346  29980  201706302300  56.0  NaN  NaN    13.33
4345        4347  29980  201706302320  57.0  NaN  NaN    13.89
4346        4348  29980  201706302350  57.0  NaN  NaN    13.89

In [19]:
print("First values in May, Rovaniemi:\n", rovaniemi_may.head())
print("\nLast values in May, Rovaniemi:\n", rovaniemi_may.tail())

First values in May, Rovaniemi:
    Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN     2.78
1        8771  29980  201705010100  37.0  NaN  NaN     2.78
2        8772  29980  201705010200  37.0  NaN  NaN     2.78
3        8773  29980  201705010300  37.0  NaN  NaN     2.78
4        8774  29980  201705010400  39.0  NaN  NaN     3.89

Last values in May, Rovaniemi:
      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
736        9506  29980  201705311900  51.0  NaN  NaN    10.56
737        9507  29980  201705312000  50.0  NaN  NaN    10.00
738        9508  29980  201705312100  47.0  NaN  NaN     8.33
739        9509  29980  201705312200  44.0  NaN  NaN     6.67
740        9510  29980  201705312300  43.0  NaN  NaN     6.11

In [20]:
print("First values in June, Rovaniemi:\n", rovaniemi_june.head())
print("\nLast values in June, Rovaniemi:\n", rovaniemi_june.tail())

First values in June, Rovaniemi:
      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
741        9511  29980  201706010000  42.0  NaN  NaN     5.56
742        9512  29980  201706010100  40.0  NaN  NaN     4.44
743        9513  29980  201706010200  40.0  NaN  NaN     4.44
744        9514  29980  201706010300  41.0  NaN  NaN     5.00
745        9515  29980  201706010400  44.0  NaN  NaN     6.67

Last values in June, Rovaniemi:
       Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
1450       10220  29980  201706301900  65.0  NaN  NaN    18.33
1451       10221  29980  201706302000  61.0  NaN  NaN    16.11
1452       10222  29980  201706302100  63.0  NaN  NaN    17.22
1453       10223  29980  201706302200  62.0  NaN  NaN    16.67
1454       10224  29980  201706302300  61.0  NaN  NaN    16.11

### Part 4 (*1 point*)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (`kumpula_may`, `rovaniemi_may`, `kumpula_june`, and `rovaniemi_june`).

In [23]:
# YOUR CODE HERE
kumpula_may['Celsius'].describe()

count    2220.000000
mean        2.991685
std         3.824078
min        -7.220000
25%         0.000000
50%         2.780000
75%         5.560000
max        15.000000
Name: Celsius, dtype: float64

In [24]:
kumpula_june['Celsius'].describe()

count    2127.000000
mean       11.019412
std         5.440638
min        -1.110000
25%         7.220000
50%        11.110000
75%        13.890000
max        23.330000
Name: Celsius, dtype: float64

In [25]:
rovaniemi_may['Celsius'].describe()

count    741.000000
mean       9.757841
std        4.996248
min       -2.220000
25%        6.670000
50%       10.000000
75%       13.330000
max       22.780000
Name: Celsius, dtype: float64

In [26]:
rovaniemi_june['Celsius'].describe()

count    714.000000
mean      13.741737
std        4.073298
min        2.780000
25%       11.110000
50%       13.330000
75%       16.670000
max       23.890000
Name: Celsius, dtype: float64

In [30]:
print('The mean value of celsius temp for rovaniemi june is 13.74')
print('The min value of celsius temp for rovaniemi june is 2.78')
print('The max value for celsius temp for rovaniemi june is 23.89')

The mean value of celsius temp for rovaniemi june is 13.74
The min value of celsius temp for rovaniemi june is 2.78
The max value for celsius temp for rovaniemi june is 23.89

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Rovaniemi a much colder place than Kumpula?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)